

<!--<h3>Hello</h3>-->
<!--&lt;!&ndash;<app-servers></app-servers>         selectortag while selctor style&ndash;&gt;-->
<!--<div app-servers></div>             &lt;!&ndash;call using attribute while attribute style&ndash;&gt;-->




<div class ="container">
  <div class ="row">
    <div class ="col-xs-12">
      <h3>I'm in the AppComponent!</h3>
      <hr>
      <input type='text' [(ngModel)]="name" >
      <p>{{ name }}</p>
      <app-servers-component></app-servers-component>

      <hr>
    </div>
  </div>
</div>

<div style="padding: 30px;">
  <hr>
  <app-assignment></app-assignment>
</div>
